coolhr/database.db
/dev_env
venv
/.vscode
/__pycache__
venv/Lib/__pycache__/_bootlocale.cpython-38.pyc
*.pyc
coolhr/pyc/database.db
coolhr/static/profile_images/avatars
*.pyd
coolhr/static/profile_images/avatars
venv
# coolhr/database.db

