{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
            <ul class="ul-alert {{ alert_type }} list-unstyled">
                {% for category, message in messages %}
                    {% if alert_type != 'form-alert' %}
                        <div class="alert custom-alert alert-{{ category }} alert-dismissible" role="alert">
                            <button type="button" class="close" style="padding: .5rem 1rem; outline: 0;" data-dismiss="alert">&times;</button>
                            <li>{{ message|safe }}</li>
                        </div>
                    {% elif alert_type == 'form-alert' %}
                        <div class="alert alert-{{ category }}" role="alert">
                            <li class="text-center">{{ message|safe }}</li>
                        </div>
                    {% endif %}
                {% endfor %}
            </ul>
    {% endif %}
{% endwith %}