{% extends "base.html" %}

{% block content %}
<div class="form-body">
    <div class="wrapper">
        <div class="auth-container">
            <h6 class="h4 auth-form-header font-weight-normal">COMPANY USERNAME</h6> 
            <div class="auth-form">
                <form action="" method="post" novalidate>
                    {{ form.hidden_tag() }}

                    {% include "_flash.html" %}

                    <div class="form-item">
                        {{ form.company_username.label(class="sr-only") }}
                        {{ form.company_username(placeholder="Enter your company's username", class="form-control") }}
                        {% for error in form.company_username.errors %}
                        <hr class="not-valid-border">
                        <span class="not-valid">{{ error }}</span>
                        {% endfor %}
                    </div>
                    
                    <div class="form-item float-right" style="margin-top: 10px; margin-bottom: 20px;">
                        <a href="{{ url_for('recover_company_username') }}">Forgot Your Company's username?</a>
                    </div> 

                    <div class="form-item form-button">
                        {{ form.submit(class="btn btn-lg btn-secondary btn-block") }}
                    </div>
                </form> 
            </div>
        </div>
    </div>
</div>
{% endblock %}