{% extends "base.html" %}

{% block content %}
<div class="form-body">
    <div class="wrapper">
        <div class="auth-container">
            <h6 class="h4 auth-form-header font-weight-normal">COMPANY SIGN UP</h6>
            <div class="auth-form">
                <form action="" method="post" novalidate>
                    {{ form.hidden_tag() }}
                    
                    {% include "_flash.html" %}

                    <div class="form-item">
                        {{ form.company_name.label(class="sr-only") }}
                        {{ form.company_name(placeholder="Company Name", class="form-control") }}
                        {% for error in form.company_name.errors %}
                        <hr class="not-valid-border">
                        <span class="not-valid">{{ error }}</span>
                        {% endfor %}
                    </div>
                    
                    <div class="form-item">
                        {{ form.company_username.label(class="sr-only") }}
                        {{ form.company_username(placeholder="Company Username", class="form-control") }}
                        {% for error in form.company_username.errors %}
                        <hr class="not-valid-border">
                        <span class="not-valid">{{ error }}</span>
                        {% endfor %} 
                    </div>

                    <div class="form-item">
                        {{ form.company_email.label(class="sr-only") }}
                        {{ form.company_email(placeholder="Company Email", class="form-control") }}
                        {% for error in form.company_email.errors %}
                        <hr class="not-valid-border">
                        <span class="not-valid">{{ error }}</span>
                        {% endfor %} 
                    </div>

                    <div class="form-item">
                        {{ form.company_password.label(class="sr-only") }}
                        {{ form.company_password(placeholder="Password", class="form-control") }}
                        {% for error in form.company_password.errors %}
                        <hr class="not-valid-border">
                        <span class="not-valid">{{ error }}</span>
                        {% endfor %} 
                    </div>

                    <div class="form-item">
                        {{ form.company_password2.label(class="sr-only") }}
                        {{ form.company_password2(placeholder="Confirm Password", class="form-control") }}
                        {% for error in form.company_password2.errors %}
                        <hr class="not-valid-border">
                        <span class="not-valid">{{ error }}</span>
                        {% endfor %} 
                    </div>

                    <div class="button-container">
                        <div class="form-item">
                            {{ form.company_submit(class="btn btn-lg btn-secondary") }}
                        </div>
                    </div>
                </form> 
            </div>
        </div>
    </div>
</div>
{% endblock %}