{% extends "base.html" %}

{% block content %}
    <!-- <h1>Reset Password</h1>
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.email.label }}<br>
            {{ form.email(size=64) }}<br>
            {% for error in form.email.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
    </form> -->

    <div class="form-body">
        <div class="wrapper">
            <div class="auth-container">
                <h6 class="h4 auth-form-header font-weight-normal">RESET PASSWORD</h6> 
                <div class="auth-form">
                    <form action="" method="post" novalidate>
                        {{ form.hidden_tag() }}
    
                        {% include "_flash.html" %}
    
                        <div class="form-item">
                            {{ form.email.label(class="sr-only") }}
                            {{ form.email(placeholder="Email", class="form-control") }}
                            {% for error in form.email.errors %}
                            <hr class="not-valid-border">
                            <span class="not-valid">{{ error }}</span>
                            {% endfor %}
                        </div>
                        
                        <div class="button-container">
                            <div class="form-item">
                                {{ form.submit(class="btn btn-lg btn-secondary") }}
                            </div>
                        </div>
                    </form> 
                </div>
            </div>
        </div>
    </div>
{% endblock %}