{% extends "base_e.html" %}

{% block content_template %}
{% if training_available %}
<h2 class="light-font content-header">Your Company's available trainings</h2>
{% else %}
<h2 class="light-font content-header">There's no training from your company yet</h2>
{% endif %}

<form action="{{ url_for('training_subscription', company_username=company_username) }}" method="post" novalidate>
  <table class="container-fluid" style="margin: 0;">
    <tr>
      <th></th>
      <th></th>
      <th></th>
    </tr>
    {% for train in training_available %}
    <tbody class="container" style="padding: 0;">
      <tr class="table-item">
        <td><button style="color: #f0f2f5;" class="caret-toggle collapsed btn btn-info disabled" type="button" data-toggle="collapse" data-target="#training-details{{train.training_id}}"></button></td>
        <td>{{ train.training_name }}</td>
        {% if train.training_status == True %}
        {% if train in employee.training_subscriptions %}
        <td><button class="btn btn-outline-danger" type="submit" name="unsubscribe" value="{{ train.training_id }}">Unsubscribe</button></td>
        {% elif train not in employee.training_subscriptions %}
        <td><button class="btn btn-outline-success" type="submit" name="subscribe" value="{{ train.training_id }}">Subscribe</button></td>
        {% endif %}
        {% elif train.training_status == False %}
        <td><button class="btn btn-outline-info" disabled>Not Active</button></td>
        {% endif %}
        {% if train in employee.training_subscriptions %}
        <td>Involved</td>
        {% elif train not in employee.training_subscriptions %}
        <td>Not Involved</td>
        {% endif %}
      </tr>
      <tr>
        <td colspan="4">
          <div id="training-details{{train.training_id}}" class="collapse container-fluid" style="padding-left: 10px; padding-right: 10px; width: -webkit-fill-available;">
            <div>Training Creation Date: {{train.date_created}}</div>
            {% if train.date_completed %}
            <div>Training Completion Date: {{train.date_completed}}</div>
            {% endif %}
            {% if train.training_description %}
            <div>Training Description: {{train.training_description}}</div>
            {% endif %}
          </div>
        </td>
      </tr>
    </tbody>
    {% endfor %}
  </table>
</form>
{% endblock %}